.empty-cart {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-cart-title {
  margin: 20px;
  font-size: 40px;
  font-weight: 400;
}

.empty-cart-button {
  margin: 20px;
  padding: 20px 60px;
  border-radius: 30px;
  border: 1px solid green;
  color: green;
  font-weight: 700;
}

.empty-cart-button:hover {
  background-color: green;
  color: white;
}