.profile-page {
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding-top: 8vh;
}

.profile-container h1 {
  text-align: start;
  font-size: 40px;
  margin: 50px;
}

.profile-container h2 {
  font-size: 30px;
  margin: 30px;
}

.profile-container form {
  width: 50%;
}

.user-informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.user-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}
