.register-container {
  width: 450px;
  height: 550px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px rgba(0, 0, 0, 0.411);
}

.register-form>.input-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 0;
}

.register-form>.input-div>label {
  padding: 10px 0 10px 0;
  font-weight: 480;
}

.register-form>.input-div>input {
  width: 430px;
}

.register-form>.mini-inputs {
  display: flex;
  text-align: start;
  justify-content: space-between;
}

.register-form>.mini-inputs div {
  margin-top: 15px;
  width: 45%;
}

.register-form>.mini-inputs label {
  font-weight: 480;
}

.register-form>.mini-inputs input {
  margin: 10px 0;
  width: 183px;
}

.register-form>button {
  margin: 20px 0;
  width: 100%;
}

.register-form>.register-link {
  color: rgb(79 70 229);
}

.register-message {
  margin: 10px;
  color: rgba(0, 0, 0, 0.678);
}