.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
}

.header-cart-icon {
  display: flex;
  align-items: center;
  position: relative;
}

.header-cart-icon img {
  width: 24px;
  height: 24px;
}

.header-cart-count {
  font-size: 12px;
  font-weight: bold;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: green;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
}

@media only screen and (max-width: 680px) {
  .header-cart {
    display: none;
  }
}
