.header-categories {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category-link {
  color: black;
  font-size: 18px;
  padding: 10px 15px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.category-link:hover {
  color: green;
}

@media only screen and (max-width: 1200px) {
  .category-link {
    margin: 0 10px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .category-link {
    margin: 0 5px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 680px) {
  .header-categories {
    display: none;
  }
}
