.burguer-menu {
  display: none;
}

@media only screen and (max-width: 680px) {
  .burguer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .burguer-menu-button {
    background-color: white;
  }

  .burguer-menu-button:hover {
    cursor: pointer;
  }

  .burguer-menu hr {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.075);
    margin: 5px 0;
  }

  .burguer-menu-list {
    position: absolute;
    top: 8vh;
    left: 0;
    min-height: 92vh;
    min-width: 100vw;
    background-color: white;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    pointer-events: none;
  }

  .burguer-menu-list.open {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
  }

  .burguer-menu-categories a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    margin: 10px;
  }

  .burguer-menu-categories p {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .burguer-menu-categories img {
    margin-right: 10px;
  }

  .burguer-menu-utils {
    margin-top: 10px;
  }

  .burguer-menu-utils a {
    color: black;
  }

  .burguer-menu-utils p {
    padding: 10px;
    font-size: 18px;
    margin-left: 10px;
  }
}