.product-page {
  display: flex;
  justify-content: center;
}

.product-container {
  width: 80vw;
  min-height: 100vh;
  background-color: white;
  padding-top: 8vh;
  display: flex;
  align-items: center;
}

.product-slider {
  width: 50%;
}

.product-container .no-sale-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.product-container .details {
  min-width: 20vw;
  margin: 20px;
}

.product-container .details > div {
  margin-top: 25px;
}

.product-container .details h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.product-container .details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.description {
  max-width: 18vw;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .product-container {
    width: 95vw;
  }
}

@media only screen and (max-width: 680px) {
  .product-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start  ;
  } 
}