.product-page {
  display: flex;
  justify-content: center;
}

.product-container {
  width: 80vw;
  min-height: 100vh;
  background-color: white;
  padding-top: 8vh;
  display: flex;
  align-items: center;
}

.product-slider {
  width: 50%;
}

.product-container .no-sale-price {
  text-decoration: line-through;
  margin-left: 10px;
}

.product-container .details {
  min-width: 20vw;
  margin: 20px;
}

.product-container .details > div {
  margin-top: 25px;
}

.product-container .details h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

.product-container .details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-container .details .sizes {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3px;
}

.product-container .details li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin: 3px;
  width: 100px;
  height: 50px;
}

.product-container .details li:hover {
  cursor: pointer;
}

.add-cart-button {
  margin-top: 20px;
  padding: 20px 5px;
  border-radius: 10px;
  width: 300px;
  background-color: green;
  color: white;
  font-weight: 800;
  font-size: 16px;
}

.add-cart-button:hover {
  background-color: rgba(0, 128, 0, 0.945);
  cursor: pointer;
}

.description {
  max-width: 18vw;
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .product-container {
    width: 95vw;
  }
}

@media only screen and (max-width: 680px) {
  .product-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start  ;
  } 
}