.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Define uma largura máxima */
  margin: 0 auto; /* Centraliza o carrossel na tela */
  overflow: hidden;
}

.carousel-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 calc(100% / 3); /* Mostra 3 itens por vez */
  box-sizing: border-box;
  padding: 0 10px;
}

.product-card {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.product-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.product-price {
  color: #555;
  font-size: 16px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1; /* Garante que os botões fiquem sobre o conteúdo */
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
